.continue-reading {
    float: right;
}

.table {
    border-collapse: collapse;
}

.table > table, th, td {
    border: 1px solid gray;
}

.table > th, td {
    padding: 5px;
}

.table code {
    font-size: .75rem;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background-color: #f2f2f2;
}
