<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
<link href="../assets/css/pictonic/css/pictonic.css" rel="stylesheet">
<link href="../assets/css/about.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar-example" id="about">

{% include browser-upgrade.html %}

<div class="site-wrapper home" id="home">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead">
                <div class="inner">
                    <nav id="navbar-example">
                        <div class="navbar-header">
                            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="glyphicon glyphicon-align-justify"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <ul class="nav masthead-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="#home">Bio</a></li>
                                <li><a href="#skills">Skills</a></li>
                                <li><a href="#experiences">Experiences</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="inner cover">
                <h1 class="cover-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Goh Khoon Hiang</h1>
                <p class="lead"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>&nbsp;Software Developer</p>
                <p class="lead"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;Singapore</p>
                <p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;<a href="http://gohkhoonhiang.github.io">http://gohkhoonhiang.github.io</a></p>
                <p><span class="icon-github-01"></span>&nbsp;<a href="https://github.com/gohkhoonhiang">https://github.com/gohkhoonhiang</a></p>
                <p><span class="icon-linkedin"></span>&nbsp;<a href="https://www.linkedin.com/in/gohkhoonhiang">https://www.linkedin.com/in/gohkhoonhiang</a></p>
                <p><span class="glyphicon glyphicon-envelope"></span>&nbsp;<a href="mailto:gohkhoonhiang@gmail.com">gohkhoonhiang@gmail.com</a></p>
                <p><span class="glyphicon glyphicon-phone"></span>&nbsp;+65 8448 5342</p>
                <p><span class="glyphicon glyphicon-education"></span>&nbsp;Bachelor of Computing, Computer Science (National University of Singapore)</p>
                <p><span class="glyphicon glyphicon-comment"></span>&nbsp;English, Mandarin, Cantonese</p>
                <p class="lead hidden-xs">
                    <a href="#skills" class="btn btn-lg btn-default">View Skills</a>
                </p>
            </div>
            <div class="mastfoot hidden-xs">
                <div class="inner">
                    <p>Powered by <a href="http://jekyllrb.com/" target="_blank">Jekyll</a> using the <a href="http://getbootstrap.com/examples/cover/" target="_blank">Cover template</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-wrapper" id="skills">
    <div class="site-wrapper-inner">
        <div class="container">
            <div class="inner cover visible-xs">
                <h1 class="cover-heading">Skills</h1>
            </div>
            <div class="hidden-xs">
                <div class="row">
                    <div class="col-md-2">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="Python"><span class="icon-prog-python" aria-hidden="true"></span></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                    <div class="col-md-2">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="Ruby"><span class="icon-prog-ruby" aria-hidden="true"></span></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                    <div class="col-md-2">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="SQL"><span class="fa fa-database" aria-hidden="true"></span></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                    <div class="col-md-2">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="Javascript"><span class="icon-prog-js01" aria-hidden="true"></span></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                    <div class="col-md-2">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="HTML"><span class="icon-html5-01" aria-hidden="true"></span></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                    <div class="col-md-2">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="Shell Script"><span class="icon-prog-bash02" aria-hidden="true"></span></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="Tornado"><img src="../images/about/tornado.png" width="50%" height="50%"></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                    <div class="col-md-2">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="Flask"><span class="icon-prog-flask" aria-hidden="true"></span></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                    <div class="col-md-2">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="Rails"><span class="icon-prog-rails" aria-hidden="true"></span></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                    <div class="col-md-2">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="jQuery"><span class="icon-prog-jquery" aria-hidden="true"></span></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                    <div class="col-md-2">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="AngularJS"><span class="icon-angularjs" aria-hidden="true"></span></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                    <div class="col-md-2">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="Bootstrap"><img src="../images/about/bootstrap.png" width="14%" height="14%"></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="Git"><span class="icon-vc-git" aria-hidden="true"></span></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                    <div class="col-md-3">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="SVN"><span class="icon-vc-svn" aria-hidden="true"></span></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                    <div class="col-md-3">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="Eclipse"><img src="../images/about/eclipse.png" width="8%" height="8%"></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                    <div class="col-md-3">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="Vim"><img src="../images/about/vim.png" width="8%" height="8%"></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="Word"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                    <div class="col-md-4">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="Excel"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                    <div class="col-md-4">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="PowerPoint"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="Windows"><span class="icon-windows" aria-hidden="true"></span></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                    <div class="col-md-6">
                        <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-content="Linux"><span class="icon-os-linux_1_" aria-hidden="true"></span></span><br></h3>
                        <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- hidden-xs -->
        <div class="visible-xs">
            <div class="row">
                <div class="col-xs-2">
                    <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-html="true" data-content="Python<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><span class="icon-prog-python" aria-hidden="true"></span></span></h3>
                </div>
                <div class="col-xs-2">
                    <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-html="true" data-content="Ruby<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><span class="icon-prog-ruby" aria-hidden="true"></span></span></h3>
                </div>
                <div class="col-xs-2">
                    <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-html="true" data-content="SQL<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><span class="fa fa-database" aria-hidden="true"></span></span></h3>
                </div>
                <div class="col-xs-2">
                    <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-html="true" data-content="Javascript<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><span class="icon-prog-js01" aria-hidden="true"></span></span></h3>
                </div>
                <div class="col-xs-2">
                    <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-html="true" data-content="HTML<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><span class="icon-html5-01" aria-hidden="true"></span></span></h3>
                </div>
                <div class="col-xs-2">
                    <h3><span class="icon-popover-left" data-container="body" data-toggle="popover" data-html="true" data-content="Shell Script<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><span class="icon-prog-bash02" aria-hidden="true"></span></span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-html="true" data-content="Tornado<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><img src="../images/about/tornado-xs.png" width="65%" height="65%"></span></h3>
                </div>
                <div class="col-xs-2">
                    <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-html="true" data-content="Flask<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><span class="icon-prog-flask"></span></span></h3>
                </div>
                <div class="col-xs-2">
                    <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-html="true" data-content="Rails<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><span class="icon-prog-rails" aria-hidden="true"></span></span></h3>
                </div>
                <div class="col-xs-2">
                    <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-html="true" data-content="jQuery<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><span class="icon-prog-jquery" aria-hidden="true"></span></span></h3>
                </div>
                <div class="col-xs-2">
                    <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-html="true" data-content="AngularJS<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><span class="icon-angularjs" aria-hidden="true"></span></span></h3>
                </div>
                <div class="col-xs-2">
                    <h3><span class="icon-popover-left" data-container="body" data-toggle="popover" data-html="true" data-content="Bootstrap<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><img src="../images/about/bootstrap.png" width="65%" height="65%"></span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-html="true" data-content="Git<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><span class="icon-vc-git" aria-hidden="true"></span></span></h3>
                </div>
                <div class="col-xs-3">
                    <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-html="true" data-content="SVN<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><span class="icon-vc-svn" aria-hidden="true"></span></span></h3>
                </div>
                <div class="col-xs-3">
                    <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-html="true" data-content="Eclipse<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><img src="../images/about/eclipse.png" width="34%" height="34%"></span></h3>
                </div>
                <div class="col-xs-3">
                    <h3><span class="icon-popover-left" data-container="body" data-toggle="popover" data-html="true" data-content="Vim<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><img src="../images/about/vim.png" width="34%" height="34%"></span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-html="true" data-content="Word<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></span></h3>
                </div>
                <div class="col-xs-4">
                    <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-html="true" data-content="Excel<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span></span></h3>
                </div>
                <div class="col-xs-4">
                    <h3><span class="icon-popover-left" data-container="body" data-toggle="popover" data-html="true" data-content="PowerPoint<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span></span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-html="true" data-content="Windows<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><span class="icon-windows" aria-hidden="true"></span></span></h3>
                </div>
                <div class="col-xs-6">
                    <h3><span class="icon-popover" data-container="body" data-toggle="popover" data-html="true" data-content="Linux<br><h4><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span></h4>"><span class="icon-os-linux_1_" aria-hidden="true"></span></span></h3>
                </div>
            </div>
        </div>
        <!-- visible-xs -->
        <div class="inner cover hidden-xs">
            <p class="lead">
                <a href="#experiences" class="btn btn-lg btn-default">Experiences</a>
            </p>
        </div>
    </div>
</div>
<div class="site-wrapper" id="experiences">
    <div class="site-wrapper-inner">
        <div class="container">
            <div class="inner cover visible-xs">
                <h1 class="cover-heading">Experiences</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;Teckwah Industrial Corporation Ltd</h3>
                            <br><span class="glyphicon glyphicon-user"></span>&nbsp;Senior Developer<br><span class="glyphicon glyphicon-time"></span>&nbsp;April 2015 - Present
                        </div>
                        <div class="panel-body">
                            <p>
                                <em>Key Responsibilities:</em>
                            <ul class="panel-list">
                                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;System enhancement</li>
                                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;System implementation</li>
                                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;Quality assurance</li>
                            </ul>
                            </p>
                            <p>
                                <em>Key Achievements:</em>
                            <ul class="panel-list">
                                <li><span class="glyphicon glyphicon-certificate"></span>&nbsp;Implemented a shopping cart module for Vinfiniti system (Spring/ExtJS)</li>
                                <li><span class="glyphicon glyphicon-certificate"></span>&nbsp;Implemented an admin module for vLocate system (Ninja/AngularJS)</li>
                                <li><span class="glyphicon glyphicon-certificate"></span>&nbsp;Implemented a workflow system for MPD submission (Joget Workflow)</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;Ecquaria Technologies Pte Ltd</h3>
                            <br><span class="glyphicon glyphicon-user"></span>&nbsp;Senior Software Engineer<br><span class="glyphicon glyphicon-time"></span>&nbsp;January 2014 - April 2015
                        </div>
                        <div class="panel-body">
                            <p>
                                <em>Key Responsibilities:</em>
                            <ul class="panel-list">
                                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;Requirements gathering</li>
                                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;Prototyping</li>
                                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;User training</li>
                            </ul>
                            </p>
                            <p>
                                <em>Key Achievements:</em>
                            <ul class="panel-list">
                                <li><span class="glyphicon glyphicon-certificate"></span>&nbsp;Delivered phases 2A and 2B of ICMS project on time</li>
                                <li><span class="glyphicon glyphicon-certificate"></span>&nbsp;Analyzed, designed and built prototypes for Coroner's Court and Youth Court modules (HTML/jQuery/CSS)</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner cover hidden-xs">
            <p class="lead">
                <a href="#experiences2" class="btn btn-lg btn-default">More Experiences</a>
            </p>
        </div>
    </div>
</div>
<div class="site-wrapper" id="experiences2">
    <div class="site-wrapper-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;Ecquaria Technologies Pte Ltd</h3>
                            <br><span class="glyphicon glyphicon-user"></span>&nbsp;Software Engineer<br><span class="glyphicon glyphicon-time"></span>&nbsp;July 2012 - December 2013
                        </div>
                        <div class="panel-body">
                            <p>
                                <em>Key Responsibilities:</em>
                            <ul class="panel-list">
                                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;Requirements gathering</li>
                                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;Prototyping</li>
                                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;Project Management</li>
                            </ul>
                            </p>
                            <p>
                                <em>Key Achievements:</em>
                            <ul class="panel-list">
                                <li><span class="glyphicon glyphicon-certificate"></span>&nbsp;Delivered phases 1A and 1B of ICMS project on time</li>
                                <li><span class="glyphicon glyphicon-certificate"></span>&nbsp;Designed a documents payment module for ICMS system</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;Ecquaria Technologies Pte Ltd</h3>
                            <br><span class="glyphicon glyphicon-user"></span>&nbsp;Intern<br><span class="glyphicon glyphicon-time"></span>&nbsp;December 2011
                        </div>
                        <div class="panel-body">
                            <p>
                                <em>Key Responsibilities:</em>
                            <ul class="panel-list">
                                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;System support</li>
                                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;Meetings administration</li>
                                <li><span class="glyphicon glyphicon-ok"></span>&nbsp;Quality assurance</li>
                            </ul>
                            </p>
                            <p>
                                <em>Key Achievements:</em>
                            <ul class="panel-list">
                                <li><span class="glyphicon glyphicon-certificate"></span>&nbsp;Created macro-enabled Excel sheets to record system performance</li>
                                <li><span class="glyphicon glyphicon-certificate"></span>&nbsp;Created templates for data-recording during court sessions</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner cover hidden-xs">
            <p class="lead">
                <a href="#contact" class="btn btn-lg btn-default">Contact Me</a>
            </p>
        </div>
    </div>
</div>
<div class="site-wrapper" id="contact">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">
                <h1 class="cover-heading">Contact</h1>
                <p class="lead">
                    <!-- Inspiration: http://morning.am/tutorials/how-to-style-google-forms/ -->
                <form id="contact-form">
                    <div class="form-group">
                        <label for="contact-name">How should I address you?</label>
                        <input type="text" class="form-control" id="contact-name" placeholder="Name" name="entry.976136711" aria-describedby="contact-name-error">
                        <p id="contact-name-error" class="help-block"></p>
                    </div>
                    <div class="form-group">
                        <label for="contact-email">How can I contact you through email?</label>
                        <input type="email" class="form-control" id="contact-email" placeholder="Email" name="entry.1715736389" aria-describedby="contact-email-error">
                        <p id="contact-email-error" class="help-block"></p>
                    </div>
                    <div class="form-group">
                        <label for="contact-number">Or you would prefer a phone call?</label>
                        <input type="text" class="form-control" id="contact-number" placeholder="Contact Number" name="entry.261050291" aria-describedby="contact-number-error">
                        <p id="contact-number-error" class="help-block"></p>
                    </div>
                    <div class="form-group">
                        <label for="contact-purpose">I'm excited to know how I can help you!</label>
                        <textarea class="form-control" id="contact-purpose" placeholder="Purpose" name="entry.177081687" aria-describedby="contact-purpose-error"></textarea>
                        <p id="contact-purpose-error" class="help-block"></p>
                    </div>
                    <button type="submit" class="btn btn-default" id="contact-form-submit">Submit</button>
                </form>
                </p>
            </div>
        </div>
    </div>
    <div class="side-bar" id="sidebar">
        <ul>
            <li>
                <a href="../files/resume-1.0.pdf" target="_blank">
                <span class="glyphicon glyphicon-download-alt"></span>
                </a>
            </li>
            <li>
                <a href="#home">
                <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="tip-bar hidden-xs" id="tipbar" style="display:none">
        <div class="tip-bar handle">
            <span class="glyphicon glyphicon-menu-left"></span>
        </div>
        <div class="tip-bar tip">
            <ul>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;Have read/attempted tutorials</li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;Use occasionally</li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;Use commonly at work</li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;Beyond working knowledge</li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;Understand inside-out</li>
            </ul>
        </div>
    </div>
</div>

{% include scripts.html %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="../assets/js/about.js"></script>

</body>
</html>

